# FASTAPI
ORIGINS=http://localhost:5050,http://localhost:5000,http://localhost:5173

# MONGODB
MONGODB_URI=mongodb://localhost:27017
DB_NAME=local

# FRONTEND URL
FRONTEND_URL=http://localhost:5173

# JWT
SECRET_KEY=
ALGORITHM=HS256
TOKEN_EXPIRE=60

# GITHUB
OAUTHLIB_INSECURE_TRANSPORT=1
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=