.auth {
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.auth h1 {
	margin: 0;
	padding: 0;
}

.auth p {
	text-align: center;
}

.auth .form {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.auth input {
	width: 100%;
	padding: 16px !important;
	border-radius: 16px !important;
}

.auth .form-field {
	margin-bottom: 16px;
}

.auth button {
	width: 100%;
	height: 55px;
	margin-bottom: 16px;
	border-radius: 16px;
}
